:root {
  --title: #332e2e;
  --subtitle: #3f3c3c;
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #e8e8e8;

  --bg-edi: #f4da92;
  --bg-nath: #b5e2c9;
  --bg-falcao: #7eb9b1;
  --bg-fer: #f7c0b5;
  --bg-jubs: #fae1dc;
  --bg-leti: #b5e2dc;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding: 0 3rem;
}

/* HEADER */
.header__logo {
  background-image: linear-gradient(black, white);
  padding: 2rem;
}

.header__logo img {
  cursor: pointer;
}

.box__title {
  display: flex;
  justify-content: center;
}

.title {
  width: 50%;
  color: var(--title);
  padding: 2rem;
  text-align: center;
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 3rem;
  justify-items: center;
  gap: 3rem;
  padding: 1rem 4rem;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card__img {
  height: 175px;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.card__img img {
  width: 100%;
}

.card__avatar {
  position: absolute;
  width: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__avatar img {
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px -8px 30px 6px #000000;
}

.card__title {
  margin-top: 60px;
  font-weight: 500;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: var(--submain-color);
}

.card__btn {
  margin-top: 15px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: var(--main-color);
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:active {
  background: var(--main-color);
  color: var(--bg-color);
  transition: all 0.25s;
  transform: scale(0.98);
}
