:root {
  --title: #332e2e;
  --subtitle: #3f3c3c;
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #e8e8e8;

  --bg-edi: #f4da92;
  --bg-edi-second: #b69b4d;

  --bg-nath: #b5e2c9;
  --bg-nath-second: #298a54;

  --bg-falcao: #7eb9b1;
  --bg-falcao-second: #2f746a;

  --bg-fer: #f7c0b5;
  --bg-fer-second: #bd7668;

  --bg-jubs: #fae1dc;
  --bg-jubs-second: #b48980;

  --bg-leti: #b5e2dc;
  --bg-leti-sans: #48a195;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
}

/* HEADER */
.header__logo {
  background: linear-gradient(
    100deg,
    rgba(242, 196, 208, 1) 0%,
    rgba(206, 191, 217, 0.7007396708683473) 27%,
    rgba(160, 227, 242, 0.4822522759103641) 52%,
    rgba(201, 242, 242, 0.5130646008403361) 79%,
    rgba(242, 232, 182, 0.5410758053221288) 100%
  );
  padding: 2rem;
}

.header__logo img {
  cursor: pointer;
}

.box__title {
  display: flex;
  justify-content: center;
}

.title {
  width: 50%;
  color: var(--title);
  padding: 2rem;
  text-align: center;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 3rem;
  justify-items: center;
  gap: 3rem;
  padding: 3rem 4rem;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: var(--bg-color);
  box-shadow: 0px -8px 27px 1px #c0c0c0;
  transition: all 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
}

.card__img {
  height: 175px;
  width: 100%;
  background: white;
  border-radius: 20px 20px 0 0;
}

.card__img img {
  width: 100%;
}

.card__avatar {
  position: absolute;
  width: 114px;
  background: var(--bg-color);
  border-radius: 100%;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__avatar img {
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px -8px 30px 6px #000000;
}

.card__title {
  text-transform: uppercase;
  margin-top: 75px;
  font-weight: 700;
  font-size: 18px;
  color: var(--main-color);
}

.card__subtitle {
  margin-top: 10px;
  font-weight: 300;
  font-size: 15px;
}

.card__btn:active {
  transition: all 0.25s;
  transform: scale(0.98);
}

/* FOOTER */
footer {
  background: linear-gradient(
    100deg,
    rgba(242, 196, 208, 1) 0%,
    rgba(206, 191, 217, 0.7007396708683473) 27%,
    rgba(160, 227, 242, 0.4822522759103641) 52%,
    rgba(201, 242, 242, 0.5130646008403361) 79%,
    rgba(242, 232, 182, 0.5410758053221288) 100%
  );
  padding: 2rem;
  margin-top: 2rem;
}

.footer__copyright {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}
.footer__copyright a {
  font-size: 0.8rem;
}

.footer__copyright a:hover {
  text-decoration: underline;
  font-size: 0.9rem;
}

/* ==================== */
/* AVATARS */
/* ==================== */

/* NEXT PAGE Avatars */
.next__page_card-edi:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-edi);
}
.next__page_card-nath:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-nath);
}

.next__page_card-falcao:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-falcao);
}

.next__page_card-fer:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-fer);
}

.next__page_card-jubs:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-jubs);
}

.next__page_card-leti:hover {
  box-shadow: 0px -8px 27px 1px var(--bg-leti);
}
/* FIM NEXT PAGE Avatars */

/* BG CARD Avatars */
.card-edi:hover {
  background: var(--bg-edi);
}

.card-nath:hover {
  background: var(--bg-nath);
}

.card-falcao:hover {
  background: var(--bg-falcao);
}

.card-fer:hover {
  background: var(--bg-fer);
}

.card-jubs:hover {
  background: var(--bg-jubs);
}

.card-leti:hover {
  background: var(--bg-leti);
}
/* FIM BG CARD Avatars */

/* BUTTON Avatars */
.finish_button-edi {
  background: var(--bg-edi);
}
.finish_button-edi:hover {
  background: var(--bg-edi-second);
}

.finish_button-nath {
  background: var(--bg-nath);
}
.finish_button-nath:hover {
  background: var(--bg-nath-second);
}

.finish_button-falcao {
  background: var(--bg-falcao);
}
.finish_button-falcao:hover {
  background: var(--bg-falcao-second);
}
/* FIM BUTTON Avatars */

/* TITLE Avatars */
.edi:before {
  background: radial-gradient(
    ellipse at center,
    var(--bg-edi) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.nath:before {
  background: radial-gradient(
    ellipse at center,
    var(--bg-nath) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.falcao:before {
  background: radial-gradient(
    ellipse at center,
    var(--bg-falcao) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}
/* FIM TITLE Avatars */

/* CARD TIPS Avatars */
.tips-edi {
  background: var(--bg-edi);
}

.tips-edi:hover {
  background: var(--bg-edi-second);
}

.tips-nath {
  background: var(--bg-nath);
}

.tips-nath:hover {
  background: var(--bg-nath-second);
}

.tips-falcao {
  background: var(--bg-falcao);
}

.tips-falcao:hover {
  background: var(--bg-falcao-second);
}

.tips-fer {
  background: var(--bg-fer);
}

.tips-fer:hover {
  background: var(--bg-fer-second);
}

.tips-jubs {
  background: var(--bg-jubs);
}

.tips-jubs:hover {
  background: var(--bg-jubs-second);
}

.tips-leti {
  background: var(--bg-leti);
}

.tips-leti:hover {
  background: var(--bg-leti-second);
}
/* FIM CARD TIPS Avatars */
