@media screen and (max-width: 767px) {
  /* HOME */
  main {
    /* background: pink; */
  }

  .header__logo img {
    width: 20%;
  }

  .title {
    width: auto;
  }

  .cards {
    display: flex;
    flex-direction: column;
    padding: initial;
    grid-gap: initial;
  }

  .card {
    margin: auto;
    margin-bottom: 2rem;
  }

  .card-edi {
    background: var(--bg-edi);
  }

  .card-nath {
    background: var(--bg-nath);
  }

  .card-falcao {
    background: var(--bg-falcao);
  }

  .card-fer {
    background: var(--bg-fer);
  }

  .card-jubs {
    background: var(--bg-jubs);
  }

  .card-leti {
    background: var(--bg-leti);
  }
  /* FIM HOME */

  /* PERSONAGEM */
  .person {
    padding: 0 1rem;
  }

  .person__avatar {
    padding: initial;
    text-align: center;
  }

  .person__avatar img {
    width: 50%;
    float: none;
    margin: 1rem;
  }

  .person__profile_subtitle {
    font-size: 1.3rem;
  }

  .person__profile p {
    font-size: 0.9rem;
  }

  .person__profile-cards {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .person__profile-card {
    width: 70%;
  }

  .first-card {
    color: var(--main-color);
  }

  .quiz button {
    color: var(--main-color);
  }

  .content {
    gap: 2rem;
  }

  .person__profile_quiz {
    width: 100%;
  }

  .answers {
    gap: 1rem;
  }

  .answer_button {
    /* height: auto; */
  }

  .finish_button {
    width: auto;
  }

  .next__page {
    align-items: center;
    flex-direction: column-reverse;
  }

  .next__page_card {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .next__page_card span {
    font-size: 0.8rem;
  }
  /* FIM PERSONAGEM */
}

@media screen and (min-width: 768px) and (max-width: 1274px) {
  .cards {
    grid-template-columns: 2fr 2fr;
    padding: initial;
  }
}
