h2 {
  color: red;
}
.box__quiz {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.spnQtd {
  text-align: end;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #008ccc;
  color: white;
}

.finish {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.finish button {
  text-align: center;
}
