/* AVATAR */
.person__avatar {
  padding: 5rem 5rem 3rem;
}

.person__avatar img {
  width: 300px;
  float: left;
  margin: 0 3rem 2rem 0;
  border-radius: 50%;
  box-shadow: 0px -10px 27px 1px #c0c0c0;
}

.person__profile_title {
  font-size: 5rem;
  margin: inherit;
}

.person__profile p {
  line-height: 1.7rem;
  text-align: justify;
}

/* QUIZ */
.person__profile_quiz {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 50%;
  min-height: 200px;
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -8px 27px 1px #c0c0c0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question {
  font-weight: 600;
}

.spnQtd {
  text-align: end;
  font-size: small;
  font-weight: 500;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.answer_button {
  width: 100%;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-edi);
}

.answer_button:hover {
  background: #b69b4d;
  color: #fff;
}

.finish {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 3rem;
}

.finish span {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

.finish_button {
  width: 40%;
  height: 2rem;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
}

/* NEXT PAGE */
.next__page {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.next__page_card {
  display: flex;
  width: 50%;
  padding: 1rem;
  align-items: start;
  border-radius: 10px;
  box-shadow: 0px -8px 27px 1px #c0c0c0;
}

.next__page_back span {
  margin: 21.28px;
  font-size: small;
  font-weight: 900;
}

.next__page_back span:hover {
  transform: scale(1.2);
}

.next__page_back:active {
  transition: all 0.25s;
  transform: scale(0.98);
}

.next__page_title {
  margin-right: 2rem;
}

.next__page_card img {
  width: 100px;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 0px -10px 27px 1px #c0c0c0;
}

.next__page_card img:hover {
  transform: scale(1.05);
}
