/* AVATAR */
.person__avatar {
  padding: 5rem 5rem 3rem;
}

.person__avatar img {
  width: 300px;
  float: left;
  margin: 0 3rem 2rem 0;
  border-radius: 50%;
  box-shadow: 0px -10px 27px 1px #c0c0c0;
}

.person__profile_title {
  font-size: 5rem;
  margin: inherit;
}

.person__profile_subtitle {
  margin-top: 2.5rem;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.person__profile p {
  line-height: 1.9rem;
  text-align: justify;
}

/* CARDS TYPS */
.person__profile-cards {
  display: flex;
  justify-content: space-evenly;
}

.person__profile-card {
  width: 190px;
  height: 254px;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 0px -8px 27px 1px #c0c0c0;
  font-size: 30px;
  font-weight: 900;
  padding: 10px;
}

.person__profile-card:hover {
  border-radius: 15px;
  cursor: pointer;
  transform: scale(1.07);
  box-shadow: 0px -8px 27px 1px #c0c0c0;
}

.first-card {
  height: 100%;
  width: 100%;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  border-radius: 15px;
}

.person__profile-card:hover .first-card {
  height: 0px;
  opacity: 0;
}

.second-card {
  height: 0%;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  transition: all 0.4s;
  font-size: 0px;
  transform: rotate(90deg) scale(-1);
}

.second-card span {
  font-size: small;
  font-weight: 500;
  color: #fff;
}

.person__profile-card:hover .second-card {
  opacity: 1;
  height: 100%;
  font-size: 1.8rem;
  transform: rotate(0deg);
}
/* FIM CARDS TYPS */

/* Animação */
.person__profile-animation {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.person__profile-animation:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.person__profile-animation:hover,
.person__profile-animation:focus,
.person__profile-animation:active {
  transform: translateY(-5px);
}

.person__profile-animation:hover:before,
.person__profile-animation:focus:before,
.person__profile-animation:active:before {
  opacity: 1;
  transform: translateY(5px);
}

.heartbeat {
  animation: heartbeat 1.5s ease-in-out 2 both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-6-30 16:2:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
/* Fim Animação */

/* QUIZ */
.quiz {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.person__profile_quiz {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  min-height: 200px;
  width: 80%;
  height: auto;
  box-shadow: 0px -8px 27px 1px #c0c0c0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.question {
  font-weight: 600;
}

.spnQtd {
  text-align: end;
  font-size: small;
  font-weight: 500;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.answer_button {
  width: 100%;
  height: 2.5rem;
  text-align: start;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bg-edi);
}

.answer_button:hover {
  background: #b69b4d;
  color: #fff;
}

.finish {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.finish span {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
}

.finish_button {
  width: 30%;
  height: 3rem;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  border: none;
}

/* NEXT PAGE */
.next__page {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.next__page_card {
  display: flex;
  width: 50%;
  padding: 1rem;
  align-items: start;
  border-radius: 10px;
  box-shadow: 0px -8px 27px 1px #c0c0c0;
}

.next__page_card span {
  margin: 21.28px;
  font-weight: 900;
  font-size: x-small;
}

.next__page_card span:hover {
  transform: scale(1.2);
}

.next__page_card:active {
  transition: all 0.25s;
  transform: scale(0.98);
}

.next__page_title {
  margin-right: 2rem;
}

.next__page_card img {
  width: 100px;
  margin-top: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
  box-shadow: 0px -10px 27px 1px #c0c0c0;
}

.next__page_card img:hover {
  transform: scale(1.05);
}
